/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.travels-black {
  font-family: "TravelsBlack";
}

.travels-black-italic {
  font-family: "TravelsBlackItalic";
}

.travels-bold {
  font-family: "TravelsBold";
}

.travels-bold-italic {
  font-family: "TravelsBoldItalic";
}

.travels-demi-bold {
  font-family: "TravelsDemiBold";
}

.travels-demi-bold-italic {
  font-family: "TravelsDemiBoldItalic";
}

.travels-extra-bold {
  font-family: "ExtraBold";
}

.travels-extra-bold-italic {
  font-family: "ExtraBoldItalic";
}

.travels-extra-light {
  font-family: "ExtraLight";
}

.travels-extra-light-italic {
  font-family: "ExtraLightItalic";
}

.travels-italic {
  font-family: "Italic";
}

.travels-light {
  font-family: "Light";
}

.travels-light-italic {
  font-family: "LightItalic";
}

.travels-medium {
  font-family: "Medium";
}

.travels-medium-italic {
  font-family: "MediumItalic";
}

.travels-regular {
  font-family: "Regular";
}

.travels-thin {
  font-family: "Thin";
}

.travels-thin-italic {
  font-family: "ThinItalic";
}

.text-white{
  color: white
}

.text-blue{
  color: #14D9E5;
}

.text-gradient{
  background: linear-gradient(to right, #9DFE00 0%, #14D9E5 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


.nav-btn:hover{
  color:  #9DFE00;
  border-color: #9DFE00;  
}

.nav-btn{
  color: white;
  border-color: #9DFE00;
}

.home-bg-image{
  background-color: #191D29;
  background-image: 
  url('./assets/images/Background-home.png'),
  url('./assets/images/Star-bg-home.png'),
  url('./assets/images/Spiral-bg-home.png');
  background-size: contain, 95% 10%, auto;
  background-position: top center, bottom center, bottom right;
  background-position-y: top, 85%, bottom;
  background-repeat: no-repeat, no-repeat, no-repeat;
  min-height: 350vh;
}

.cast-bg-image{
  background-color: #191D29;
  background-image: 
  url('./assets/images//Characters/Background.png'),
  url('./assets/images/Characters/Star.png');
  background-size: 200vh 250vh, contain;
  background-repeat: no-repeat, no-repeat;
  background-position: top center, bottom center;
  background-position-y: top, 90%;
  min-height: 250vh;
  /* outline: 3px solid red; */
}

.nav-padding{
  padding-top: 260px;
}

.nav-bar{
  position: absolute;
  left: 40%;
}

.btn-prev{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: transparent;
  border: 3px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
}

.scroll-view{
  transform: translateX(5%);
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 21%;
  width: 90%;
  gap: 30px;
  scroll-behavior: smooth;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  border: 3px solid red;
}

.scroll-view::-webkit-scrollbar{
  -webkit-appearance: none;
}

.scroll-view-card{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border: 3px solid blue;
}

.snaps-inline{
  scroll-snap-type: inline mandatory;
}

.snaps-inline > *{
  scroll-snap-align: start; 
}

.scroll-button{
  height: 100px;
  width: 100px;
}

.scroll-view-card > img{
  /* aspect-ratio: 5/5; */
}


