/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.travels-black {
  font-family: "TravelsBlack";
}

.travels-black-italic {
  font-family: "TravelsBlackItalic";
}

.travels-bold {
  font-family: "TravelsBold";
}

.travels-bold-italic {
  font-family: "TravelsBoldItalic";
}

.travels-demi-bold {
  font-family: "TravelsDemiBold";
}

.travels-demi-bold-italic {
  font-family: "TravelsDemiBoldItalic";
}

.travels-extra-bold {
  font-family: "ExtraBold";
}

.travels-extra-bold-italic {
  font-family: "ExtraBoldItalic";
}

.travels-extra-light {
  font-family: "ExtraLight";
}

.travels-extra-light-italic {
  font-family: "ExtraLightItalic";
}

.travels-italic {
  font-family: "Italic";
}

.travels-light {
  font-family: "Light";
}

.travels-light-italic {
  font-family: "LightItalic";
}

.travels-medium {
  font-family: "Medium";
}

.travels-medium-italic {
  font-family: "MediumItalic";
}

.travels-regular {
  font-family: "Regular";
}

.travels-thin {
  font-family: "Thin";
}

.travels-thin-italic {
  font-family: "ThinItalic";
}

.home-bg-image{
  background-image: 
  url('./assets/images/Background-home.png'),
  url('./assets/images/Star-bg-home.png'),
  url('./assets/images/Spiral-bg-home.png');
  background-size: cover, cover, cover;
  background-repeat: no-repeat, no-repeat, repeat;
  width: 150vw, 150vw, 1vw;
  height: 150vh;
  /* backgroundRepeat: 'no-repeat',
        width: '100vw',
        height: '100vh' */
  /* backgroundSize: 'cover', */
}