body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "TravelsBoldItalic";
  src: local("TravelsBoldItalic"),
   url("./assets/Fonts/Font/TTTravels-BoldItalic.ttf") format("truetype");
   font-weight: bold;
   font-size: 128px;
}

@font-face {
  font-family: "TravelsBold";
  src: local("TravelsBold"),
   url("./assets/Fonts/Font/TTTravels-Bold.ttf") format("truetype");
  font-weight: bold;
}